
<header class="site-header text-center">
  <div class="video">
    <iframe class="video__frame" src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&amp;showinfo=0&amp;rel=0&amp;autoplay=1&amp;loop=1&amp;playlist=W0LHTWG-UmQ" frameborder="0" allowfullscrean="allowfullscrean">
    </iframe>
  </div>
  <div class="vcontainer">
    <div class="offset-big">
      <p class="vtitle underline">Контакти</p>
    </div>
    <div class="offset-big">
      <h1 class="vtitle bold">Є запитання?
      </h1>
      <h2 class="vtitle-small">Введіть Ваш номер телефону і ми Вам зателефонуємо</h2>
    </div>
    <div class="site-header__form text-center offset-static-md">
      <form class="vform vform_line vform_white">
        <div class="vform__content">
          <div class="vform__row vform__row_line"><input class="vform-control" type="text" placeholder="Номер телефону*" name="phone" required="required"/><span class="vform__line"></span>
          </div>
          <div class="vform__row vform__row_btn">
            <button class="vform__btn vbtn vbtn_block vbtn_border-white effect effect_bounce-top" type="submit">Зателефонуйте мені
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="text-center offset-static-sm"><a class="site-header__link site-header__link_phone" href="tel: 050 700 66 38">050 700 66 38</a><a class="site-header__link site-header__link_phone" href="tel: 063 818 80 58">063 818 80 58</a>
    </div>
    <div class="text-center offset-static-sm"><a class="site-header__link site-header__link_mail" href="mailto: vivomusic2006@gmail.com">vivomusic2006@gmail.com</a>
    </div>
    <div class="text-center">
      <div class="social"><a class="social__item" href="https://www.facebook.com/Vivomband/"><img class="social__img social__img_big" src="img/social-fb.png" alt="" role="presentation"/></a><a class="social__item" href="https://www.youtube.com/channel/UCWLQWWhQsgWaQmVmc6kR9xg"><img class="social__img social__img_big" src="img/social-y.png" alt="" role="presentation"/></a><a class="social__item" href="https://www.instagram.com/vivomusicco/"><img class="social__img social__img_big" src="img/social-inst.png" alt="" role="presentation"/></a>
      </div>
    </div>
  </div>
</header>