
<header class="site-header text-center">
  <div class="min-sm-fixed min-sm-fixed_top">
    <div class="vnav vnav_style" id="navigation-wrapper">
      <div class="vnav__row vrow flex-y-center">
        <div class="vnav__logo vak-12 vak-sm-3">
          <div class="inline-block"><img src="img/logo.png" alt=""/></div>
        </div>
        <div class="vnav__text vak-12 vak-sm-9" id="js-nav-text">
          <div class="vnav__item">
            <div class="social"><a class="social__item" href="https://www.facebook.com/Vivomband/"><img class="social__img" src="img/social-fb.png" alt="" role="presentation"/></a><a class="social__item" href="https://www.youtube.com/channel/UCWLQWWhQsgWaQmVmc6kR9xg"><img class="social__img" src="img/social-y.png" alt="" role="presentation"/></a><a class="social__item" href="https://www.instagram.com/vivomusicco/"><img class="social__img" src="img/social-inst.png" alt="" role="presentation"/></a>
            </div>
          </div>
          <div class="vnav__item"><a class="vnav__text-link" href="tel: +1">+38 (093) <span class="vnav__text-link-span">961 33 54</span></a><a class="vnav__text-link" href="tel: +1">+38 (093) <span class="vnav__text-link-span">961 33 54</span></a>
          </div>
          <div class="vnav__item">
            <button class="vbtn vbtn_brand-1 effect effect_bounce-top" data-action="vmodal" data-open="#question-modal">Задати запитання
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="video video_parallax" id="video">
    <iframe class="video__frame" src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&amp;showinfo=0&amp;rel=0&amp;autoplay=1&amp;loop=1&amp;playlist=W0LHTWG-UmQ" frameborder="0" allowfullscrean="allowfullscrean">
    </iframe>
  </div>
  <div class="vcontainer video-text" id="video-text">
    <div class="offset-extra">
      <h1 class="vtitle-big bold underline">VIVO MUSIC BAND
      </h1>
      <h2 class="vtitle-small">Гурт Вашого свята</h2>
    </div>
    <div class="text-center">
      <button class="vbtn vbtn_large vbtn_brand-1 effect effect_bounce-top" data-action="vmodal" data-open="#form-modal">Замовити
      </button>
    </div>
  </div>
</header>