.vform{
	width: 100%;
	&__row{
		position: relative;
	}
	&_white &-control{
		background-color: transparent;
		color: setColor('white');
		@include placeholder{
			color: setColor('white');
		}
	}
	&_block &__row{
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}
	@include resp-max(md){
		&_line &__row{
			margin-bottom: 15px;
		}
	}
	@include resp-min(md){
		&_line &__content{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
		}
		&_line &__row{
			flex-grow: 1;
			flex-basis: 0;
			margin-right: 15px;
		}
		&_line &__btn,
		&_line &-control{
			padding: 0 15px;
			height: 50px;
			width: 100%;
		}
	}
	&-control{
		&:focus{
			@include placeholder{
				color: transparent;
			}
		}
	}
	@if( $design-form == 'new' ){
		&-control{
			@include input-default();
			border: none;
		}
		&__line{
			position: absolute;
			left: 0;
			bottom: 0;
			height: 3px;
			width: 0;
			background-color: setColor('brand-1');
			@include transition();
		}
		input:focus + &__line{
			width: 100%;
		}
		&__row_line{
			&:before{
				@include pseudo();
				left: 0;
				bottom: 0;
				height: 3px;
				width: 100%;
				background-color: $color-modal-main;
			}
		}
		&_white &__row_line:before{
			background-color: setColor('white');
		}
		&_white &__line{
			background-color: setColor('dark', 'black');
		}
	}@else{
		&-control{
			@include input-default();
			border: 1px solid #ddd;
			&:focus{
				border-color: setColor('brand-1');
			}
		}
	} 

}
[type="submit"]{
	cursor: pointer;
}