// @include resp-min(){}
// @include resp-max(){}
.social{
	font-size: 0;
	&__item{
		display: inline-block;
		vertical-align: middle;
		&:not(:last-child){
			margin-right: 15px;
		}
	}
	&__img{
		height: 30px;
		&_big{
			height: 60px;
		}
		@include transition();
		&:hover{
			opacity: 0.8;
		}
	}
}